<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="user.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="sobrenome">Sobrenome</label>
      <input type="text" class="form-control" id="sobrenome" required [(ngModel)]="user.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" required [(ngModel)]="user.cpf" name="cpf">
    </div>

    <div class="form-group">
      <label for="birthDate">Data de nascimento</label>
      <input type="text" class="form-control" id="birthDate" required [(ngModel)]="user.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label for="phone">Telefone</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="user.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="zipCode">CEP</label>
      <input type="text" class="form-control" id="zipCode" required [(ngModel)]="user.zipCode" name="zipCode">
    </div>

    <div class="form-group">
      <label for="address">Endereço</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="user.address" name="address">
    </div>

    <div class="form-group">
      <label for="number">Número</label>
      <input type="text" class="form-control" id="number" required [(ngModel)]="user.number" name="number">
    </div>

    <div class="form-group">
      <label for="neighborhood">Bairro</label>
      <input type="text" class="form-control" id="neighborhood" required [(ngModel)]="user.neighborhood" name="neighborhood">
    </div>

    <div class="form-group">
      <label for="city">Cidade</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="user.city" name="city">
    </div>

    <div class="form-group">
      <label for="state">Estado</label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="user.state" name="state">
    </div>

    <div class="form-group">
      <label for="username">Nome de usuário</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>

    <button type="submit" class="btn btn-success">Criar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Usuário criado com sucesso!</h4>
  <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
</div>
